{% if section.settings['show-announcement'] %}
    <section>
        <div class="announcement-bar base-container">
            <div class="acn-bar-left">
                {% if section.settings.image != blank %}
                    <img
                        width="40"
                        height="40"
                        loading="lazy"
                        src="{{ section.settings.image | image_url }}" 
                        alt="logo top"/>
                {% else %}
                    <img
                        width="40"
                        height="40"
                        loading="lazy"
                        src="{{ 'top-logo.png' | asset_url  }}" 
                        alt="logo top"/>
                {% endif %}
            </div>
            <div class="acn-bar-right">
                right
            </div>
        </div>
    </section>
{% endif %}


<style>
    .announcement-bar{
        background: {{  section.settings.background }};
    }
    .acn-bar-right{
        color: {{  section.settings.text_color }};
    }
</style>


{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "show-announcement",
            "label": "Show Announcement",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Pick image",
            "info": "Png file"
        },

        {
            "type": "color",
            "id": "background",
            "label": "Background",
            "default": "#f4f4f4"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text",
            "default": "#000000"
        }


    ],
    "presets": []
}
{% endschema %}
