<section>ab</section>

{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "show-annoucement",
            "label": "Show Annoucement",
            "default": true
        }
    ],
    "presets": [
        {
            "name": "announcement-bar"
        }
    ]
}
{% endschema %}
