body{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
.base-container{
    max-width: 90%;
    margin: 0 auto;
}

/* top bar */
.top-bar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acn-bar-right ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

